.dropdown {
  position: relative;

  &__option {
    background-color: var(--neutral-700);
    display: flex;
    align-items: center;
    //width: max-content;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
  }

  &__menu {
    background-color: var(--neutral-800);
    border-radius: 0.5rem;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    width: max-content;

    //  Animation Styles
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
    transform: translateY(-10px);

    //  No interaction with the dropdown menu
    pointer-events: none;
  }

   .open {
    //  Animation Styless
    opacity: 1;
    transform: translateY(0);

  //  Set interaction with the dropdown menu
    pointer-events: auto;
  }

  &__option-select {
    .temperature, .wind-speed {
      border-bottom: 1px solid var(--neutral-600);

    }

    .temperature, .wind-speed, .precipitation {
      a {
        display: block;
      }

      a:hover {
        border-radius: 0.25rem;
        background: var(--neutral-600);
      }

      a:focus {
        background: pink;
      }
    }
  }


  &__section-title {
    color: var(--neutral-300);
  }
}