.dropdown {
  position: relative;

  &__option {
    background-color: var(--neutral-700);
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
  }

  &__menu {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    border-radius: 0.5rem;
    padding-block: .75rem;
    padding-inline: .5rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    min-width: 220px;

    //  Animation Styles
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
    transform: translateY(-10px);

    //  No interaction with the dropdown menu
    pointer-events: none;
  }

   .open {
    //  Animation Styless
    opacity: 1;
    transform: translateY(0);

  //  Set interaction with the dropdown menu
    pointer-events: auto;
  }

  &__option-select {
  .switch-text {
    margin-block-end: .75rem;
  }
    .temperature, .wind-speed {
      border-bottom: 1px solid var(--neutral-600);
    }

    .form-control {
      padding-block: .25rem;
      label {
        display:flex;
        justify-content: space-between;

        input[type='radio'] {
          display: none;
        }

        .checkmark {
          display: block;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        input[type='radio'] + .checkmark{
          cursor: pointer;
        }

        input[type='radio']:checked + .checkmark {
          background-image: url("/images/icon-checkmark.svg");
        }
      }
    }

    .form-control:hover {
      cursor: pointer;
      border-radius: 0.25rem;
      background: var(--neutral-600);
    }

    .temperature, .wind-speed, .precipitation {
      a {
        display: block;
      }

      a:hover {
        border-radius: 0.25rem;
        background: var(--neutral-600);
      }

      a:focus {
        background: pink;
      }
    }
  }

  &__section-title {
    color: var(--neutral-300);
    font-size: small;
    padding-block: .25rem;
  }
}