.connection-container {
  color: var(--neutral-200);
  text-align: center;

  .connection-error-header {
    margin-block-end: 1rem;

    @media (min-width: 60em) {
      font-size: 2.5rem;
    }
  }

  .connection-error-text {
    margin-block-end: 1rem;
  }

  .retry-btn {
    padding-block: .5rem;
    padding-inline: .75rem;
    border: none;
    background: var(--neutral-700);
    border-radius: var(--border-radius);
    color: white;

    .btn-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}