.weather-dashboard {
  display: grid;
  place-content: center;
  color: var(--neutral-0);

  h1 {
    font-size: 3rem;
  }

  .input-container {
    //  Container styles
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block-start: 2rem;
    margin-block-end: 1rem;

    //  Input text styles
    .search-input {
      outline: none;
      box-shadow: none;
      border: 0;
      border-radius: 10px;
      padding: .75rem;
      width: 50%;
      background-color: var(--neutral-700);
      color: var(--neutral-0);
    }

    //  Button styles
    .search-btn {
      outline: none;
      box-shadow: none;
      padding: 0.5rem;
      border: 0;
      border-radius: 10px;
      width: 13%;
      background-color: var(--blue-500);
      color: var(--neutral-0);
    }

  }
}