*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr;
}

img {
  max-width: 100%;
  display: block;
}