*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}

img {
  max-width: 100%;
  display: block;
}