/* Bricolage_Grotesque */
//  Normal
@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("../../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("../../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* DM_Sans */
//  Normal
@font-face {
  font-family: "DM_Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Italics
@font-face {
  font-family: "DM_Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}