@use "components";
@use "global";
@use "views";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //  Font size
  font-size: 18px;
}


html {
  font-family: "Bricolage_Grotesque", sans-serif;
}